version: 2.1
orbs:
    continuation: circleci/continuation@0.1.2
    slack: circleci/slack@3.4.2
    jq: circleci/jq@2.2.0
jobs:
    test-dev-tag-as-not-passed:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        steps:
            - checkout
            - run: (cd .circleci/ && ./markDevTagAsTestNotPassed.sh)
    test-unit:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        resource_class: large
        parameters:
            cdi-version:
                type: string
        parallelism: 4
        steps:
            - checkout
            - run: apt-get install lsof
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: go version
            - run: rm -rf /etc/alternatives/java
            - run: ln -s /usr/java/jdk-15.0.1/bin/java /etc/alternatives/java
            - run: wget https://go.dev/dl/go1.18.10.linux-amd64.tar.gz && rm -rf /usr/local/go && tar -C /usr/local -xzf go*.tar.gz
            - run: go get ./...
            - run: (cd .circleci/ && ./doUnitTests.sh << parameters.cdi-version >>)
            - slack/status
    test-website:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        resource_class: large
        parallelism: 4
        steps:
            - checkout
            - run: apt-get install lsof
            - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: go version
            - run: rm -rf /etc/alternatives/java
            - run: ln -s /usr/java/jdk-15.0.1/bin/java /etc/alternatives/java
            - run: wget https://go.dev/dl/go1.18.10.linux-amd64.tar.gz && rm -rf /usr/local/go && tar -C /usr/local -xzf go*.tar.gz
            - run: go get ./...
            - run: (cd .circleci/ && ./website.sh)
            - slack/status
    test-authreact:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        resource_class: large
        parallelism: 4
        steps:
            - checkout
            - run: apt-get install lsof
            - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
            - run: curl https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
            - run: |
                set +e
                export NVM_DIR="$HOME/.nvm"
                [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
                [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
                nvm install 16
                
                echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
                echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            - run: node --version
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: go version
            - run: rm -rf /etc/alternatives/java
            - run: ln -s /usr/java/jdk-15.0.1/bin/java /etc/alternatives/java
            - run: wget https://go.dev/dl/go1.18.10.linux-amd64.tar.gz && rm -rf /usr/local/go && tar -C /usr/local -xzf go*.tar.gz
            - run: go get ./...
            - run: (cd .circleci/ && ./authReact.sh)
            - store_artifacts:
                  path: test_report/backend.log
                  destination: logs
            - slack/status
    test-success:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        steps:
            - checkout
            - run: (cd .circleci/ && ./markAsSuccess.sh)
            - slack/status

workflows:
    version: 2
    tagged-build:
        jobs:
            - test-dev-tag-as-not-passed:
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        only: /test-cicd\/.*/
            - test-unit:
                requires:
                    - test-dev-tag-as-not-passed
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        only: /test-cicd\/.*/
                matrix:
                    parameters:
                        cdi-version: placeholder
            - test-website:
                requires:
                    - test-dev-tag-as-not-passed
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        only: /test-cicd\/.*/
            - test-authreact:
                requires:
                    - test-dev-tag-as-not-passed
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        only: /test-cicd\/.*/
            - test-success:
                requires:
                    - test-unit
                    - test-website
                    - test-authreact
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        ignore: /.*/

