version: 2.1
orbs:
    slack: circleci/slack@3.4.2
    jq: circleci/jq@2.2.0
jobs:
    test-dev-tag-as-not-passed:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        steps:
            - checkout
            - run: (cd .circleci/ && ./markDevTagAsTestNotPassed.sh)
    test-unit:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        resource_class: large
        steps:
            - checkout
            - run: apt-get install lsof
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: go version
            - run: rm -rf /etc/alternatives/java
            - run: ln -s /usr/java/jdk-15.0.1/bin/java /etc/alternatives/java
            - run: go get ./...
            - run: (cd .circleci/ && ./doUnitTests.sh)
            - slack/status
    test-website:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        resource_class: large
        steps:
            - checkout
            - run: apt-get install lsof
            - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: go version
            - run: rm -rf /etc/alternatives/java
            - run: ln -s /usr/java/jdk-15.0.1/bin/java /etc/alternatives/java
            - run: go get ./...
            - run: (cd .circleci/ && ./website.sh)
            - slack/status
    test-authreact:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        resource_class: large
        steps:
            - checkout
            - run: apt-get install lsof
            - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
            - run: curl -fsSL https://deb.nodesource.com/setup_16.x | bash
            - run: apt install -y nodejs
            - run: node --version
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: go version
            - run: rm -rf /etc/alternatives/java
            - run: ln -s /usr/java/jdk-15.0.1/bin/java /etc/alternatives/java
            - run: go get ./...
            - run: (cd .circleci/ && ./authReact.sh)
            - slack/status
    test-success:
        docker:
            - image: rishabhpoddar/supertokens_go_driver_testing
        steps:
            - checkout
            - run: (cd .circleci/ && ./markAsSuccess.sh)
            - slack/status

workflows:
    version: 2
    tagged-build:
        jobs:
            - test-dev-tag-as-not-passed:
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        ignore: /.*/
            - test-unit:
                requires:
                    - test-dev-tag-as-not-passed
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        ignore: /.*/
            - test-website:
                requires:
                    - test-dev-tag-as-not-passed
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        ignore: /.*/
            - test-authreact:
                requires:
                    - test-dev-tag-as-not-passed
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        ignore: /.*/
            - test-success:
                requires:
                    - test-unit
                    - test-website
                    - test-authreact
                context:
                    - slack-notification
                filters:
                    tags:
                        only: /dev-v[0-9]+(\.[0-9]+)*/
                    branches:
                        ignore: /.*/
